.DS_Store
node_modules
/dist
/types
/__DO_NOT_COMMIT

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Constellation build files
/constellation/bootstrap*
/constellation/lib_asset.json
/constellation/constellation*

# Playwright report
playwright-report

# localhost cert files
/private.*
/ssl.conf

test-results/
playwright-report/

custom-elements.json

_lion_core.code-search
